.add-album-page {
  margin-top: 10vh;
  padding: 2rem;
}

.save-album-button {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  border: black 2px solid;
  background-color: var(--cream-color);
  padding: 0.6rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
  margin-top: 3vh;
}

.save-album-button:hover {
  background-color: var(--cream-color-half-opacity);
}
