.album-details-edit {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.album-details-edit > button {
}

.album-details-header-edit {
  text-align: left;
  display: flex;
  width: 100%;
}

.album-details-edit-header-inputs > input {
}

.album-details-body {
  width: 100%;
}

.album-details-header-edit > img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.album-description > p {
}

.tracklist-table {
  width: 100%;
}

.tracklist-table > thead th:nth-child(1) {
  width: 5%;
}

.tracklist-table > thead th:nth-child(2) {
  width: 90%;
}

.tracklist-table > thead th:nth-child(3) {
}

