.auth-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-header > p {
  margin-top: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 300px;
  width: 250px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.login-form > input {
  margin-bottom: 1rem;
}

.login-form > label {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.login-form > button {
  padding: 0.1rem 0.5rem;
  max-width: 100px;
  margin: 0.6rem 0 1rem;
}

/* .login-form-register { */
/*   height: 350px; */
/*   width: 25%; */
/* } */

/* .register-main { */
/*   display: flex; */
/*   width: 50%; */
/*   justify-content: space-between; */
/*   align-items: center; */
/* } */

.register-error {
  position: absolute;
  width: 200px;
  top: 370px;
  left: 270px;

}

.register-info {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 90%;
  max-width: 500px;
  height: 250px;
  padding: 2rem;
  background-color: rgb(255,153,153, .3);
  border-radius: 10px;
  min-width: 300px;
}

.password-info, .username-info {
  width: 40%;
}

/* .register-info > p { */
/*   margin-bottom: 1rem; */
/* } */

.hidden {
  visibility: hidden;
}


.persist-check {
  width: 80%;
  padding: 1rem;
}

.persist-check > input {
  margin-right: 0.5rem;
}
