ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

li a {
  text-decoration: none;
  color: black;
}

#navbar {
  height: 50px;
  min-height: 30px;
  position: fixed;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 1.5rem;
  min-width: 400px;

}

#navbar.not-in-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  background-color: var(--cream-color);
}
