.song-entry-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.song-entry-sub{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.song-entry-sub > label {
  margin-bottom: 0.5rem;
}
