@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
  --cream-color: #e4e1d0;
  --cream-color-half-opacity: rgb(228, 225, 208, 0.5);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono';
  font-size: 18px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content-along-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.fetching {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}
